.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400, 700;
}

body {
  height: 100vh;
  font-size: 18px;
}

h1 {
  padding-right: 200%;
  color: aliceblue;
}

header {
  max-width: 1440px;
  height: 230px;
  background-image: url(../images/bg-desktop-dark.jpg);
  background-size: auto;
  align-items: center;
  justify-content: center;
}

div.background {
  width: 1440px;
  height: 100vh;
  background: linear-gradient(90deg, rgb(32, 20, 41) 0%, rgb(18, 11, 24) 100%);
}
div.task-titulo-trcss {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 40%;
  padding-top: 8%;
  padding-right: 300%;
}

.new-task-container input {
flex: 3;
font-size: 1rem;
border: none;
border: 2px solid rgb(240, 237, 237);
border-radius: 5px;
padding: 12px;
font-weight: 500px;
position: absolute;
margin-top: 11%;
margin-left: 30%;
color: aliceblue;
width: 350px;
height: 40px;
background:rgb(28, 26, 29);
}

.new-task-button {
  flex: 1;
  border-radius: 5px;
  font-weight: 500px;
  height: 40px;
  font-size: 1rem;
  border: none;
  position: absolute;
  margin-top: 11%;
  margin-left: 56%;
  cursor: pointer;
  background: rgb(159, 173, 173);
}

.new-task-button:hover {
  background: rgb(123, 9, 223);
}

.tasks-container {
  background:rgb(28, 26, 29);
  padding: 30px 20px;
  margin-top: 15%;
  margin-left: 30%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 26%;  
  height: auto;
  position: absolute;
  color: aliceblue;
}

.tasks-containerbtn {
  background:rgb(28, 26, 29);
  padding: 30px 20px;
  margin-top: 20%;
  margin-left: 30%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 26%;  
  height: auto;
  position: absolute;
  border: none;
  border-bottom: #dcebe4;
  border-color: rgb(104, 104, 102);
}

img.fundo-task {
  background-image: url(images/icon-sun.svg);
  background-size: 100%;
}

@media (max-width: 800px) {
  header {
    display: block;
    min-width: 375px;
    height: 200px;
    background-image: url(../images/bg-mobile-dark.jpg);
    background-size: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
}

.task-item i {
  background-color: #dcebe4;
  color: rgb(14, 9, 9);
  padding: 12px;
  border-radius: 5px;
}

.task-item i:hover {
  cursor: pointer;
}

.error {
  border: 2px solid red !important;
}

.error::placeholder {
  color: red;
}

.completed {
  text-decoration: line-through;
}
