.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400, 700;
}

body {
  height: 100vh;
  font-size: 18px;
}

h1 {
  padding-right: 200%;
  color: aliceblue;
}

header {
  max-width: 1440px;
  height: 230px;
  background-image: url(../images/bg-desktop-dark.jpg);
  background-size: auto;
  align-items: center;
  justify-content: center;
}

div.background {
  width: 1440px;
  height: 100vh;
  background: linear-gradient(90deg, rgb(32, 20, 41) 0%, rgb(18, 11, 24) 100%);
}
div.task-titulo-trcss {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 40%;
  padding-top: 8%;
  padding-right: 300%;
}

.new-task-container input {
font-size: 1rem;
border: none;
padding: 12px;
font-weight: 500px;
position: absolute;
margin-top: 12%;
margin-left: 30%;
color: aliceblue;
width: 390px;
height: 40px;
background:rgb(35, 33, 36);
}

.tasks-container {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background:rgb(35, 33, 36);
  margin-top: 16%;
  margin-left: 30%;
  width: 390px;  
  height: auto;
  position: absolute;
  color: aliceblue;
  padding: 2px;
}

.tasks-container [type='checkbox']:checked + div {
  text-decoration:line-through;
  background: linear-gradient(60deg, rgb(133, 240, 234) 0%, rgb(133, 7, 243) 100%);
  background-size: 20px;
  border-radius: 50%;
}



.tasks-container [type='radio'] {
    width: 16px;
    height: 16px;
    border: 5px solid var(--cinza);
    border-style: groove;
    border-bottom: 1px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.tasks-container [type='button'] {
  background:rgb(35, 33, 36);
  color:rgb(109, 83, 105);
  width: 20px;
  height: 20px;
  font-size: 18px;
  border: 5px solid var(--cinza);
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  margin-left: 95%;
  margin-right: 90%;
  margin-top: -40%;
}


img.fundo-task {
  background-image: url(images/icon-sun.svg);
  background-size: 100%;
}

@media (max-width: 800px) {
  header {
    display: block;
    min-width: 375px;
    height: 200px;
    background-image: url(../images/bg-mobile-dark.jpg);
    background-size: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.completed {
  text-decoration: line-through;
}


label{
  display:block;
  line-height:18px;
  border-radius: 100px;
  margin-top: 0px;
}

.tasks-container [type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 25px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 2rem;
  outline: none;
  position: relative;
  z-index: 1000;
  border-radius: 100px;
}

.tasks-container [type='radio']:hover {
  background: #9faab7;
  border-radius: 100px;
  margin-top: 1px;
}

.tasks-container [type='radio']:checked {
  background: linear-gradient(180deg, rgb(133, 240, 234) 0%, rgb(133, 7, 243) 100%);
  border-radius: 100px;
  margin-top: auto;
}

.tasks-container [type='radio']:checked::before {
  width: 9px;
  height: 9px;
  display:flex;
  content: '\f00c';
  font-size: 20px;
  font-weight:bold;
  position: absolute;
  align-items:center;
  justify-content:center;
  font-family:'Font Awesome 5 Free';
  margin-top: 8px;
  margin-left: 8px;
}

.tasks-container [type='radio']:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.tasks-container [type='radio'].radio {
  border-radius: 100px;
}

.tasks-container [type='radio']::after {
  border-radius: 50px;
}

